VITE_ENV=development

VITE_API_BASE_URL=

VITE_ACADEMIC_SERVICE_URL=
VITE_TASKS_SERVICE_URL=

VITE_APIM_TOKEN=

VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_CLIENT_SECRET=

VITE_NOTIFICATIONS_WEB_APP_URL=

VITE_COGNITO_DOMAIN=
VITE_COGNITO_CLIENT_ID=
